:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font
}

/* Elementos Base */
body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;

}

header nav a:hover {
    color: #fff;
}

/* Filme princilap */

.filmep {
    font-size: 16px;
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('/img/House_of_Cards_main_characters.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


}

.filmep .descricao {
    margin-bottom: 40px;
    margin-top: 10px;

}

.titulo {
    margin-top: 30%;
    ;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.botao {
    background-color: rgba(0, 0, 0, 40%);
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;

}


.botao i {
    margin: 5px;
}

.buton {
    margin-left: 20px;
    margin-bottom: 5px;
}

.carroself {
    margin-top: 10px;
}


.banner {
    margin: 15px;
    color: var(--vermelho);
    font-size: 25px;
}


